[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
djangorestframework = "~=3.12"
djoser = "~=2.1"
django-filter = "~=2.4"
psycopg2 = "~=2.9"
python-dotenv = "*"

[dev-packages]
flake8 = "*"
pep8-naming = "*"
flake8-broken-line = "*"
flake8-return = "*"
flake8-isort = "*"
isort = "*"

[requires]
python_version = "3.9"
